<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Quyền cần thiết cho Google Sign-In và Facebook Login -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Food"
        tools:targetApi="31">
        <activity
            android:name=".Activity.AdminUpdatePersonInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Fragments.SnacksFragment"
            android:exported="false" />
        <activity
            android:name=".Fragments.BeveragesFragment"
            android:exported="false" />
        <activity
            android:name=".Fragments.VegetarianFragment"
            android:exported="false" />
        <activity
            android:name=".Fragments.MainDishesFragment"
            android:exported="false" />
        <activity
            android:name=".Fragments.AllFragment"
            android:exported="false" />
        <activity
            android:name=".Activity.AdminAddPersonInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AdminPersonInfoActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".Activity.AdminUpdateFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AdminAddFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AdminFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PersonInfoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PersonInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ListFoodsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>